.App {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-image: url(https://media.istockphoto.com/vectors/abstract-tetris-background-vector-id1166214018?k=6&m=1166214018&s=170667a&w=0&h=4bEn6HT_TPzMZuUI7Paia0sEtew6uEjLnCW0eK1zaTM=);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.Screen {
    width: 800px;
    height: 600px;
    border: solid skyblue;
    background-color: black;
    z-index: 1;
    /* cursor: none; */
    position: relative;
}

.hidden {
    visibility: hidden;
}
.main {
    z-index: 7;
    position: absolute;
    top: 0;
    left: 150;
}

.center {
    position: absolute;
    top: 257px;
    left: 357px;
    z-index: 10;
    cursor: pointer;
}

.brick {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 28px;
    left: 262px;
    z-index: 15;
    height: 540px;
    width: 270px;
    background: black;
    border: green solid;
}

.button1 {
    width: 200px;
    height: 80x;
    font-size: 30px;
    background-color: skyblue;
    border: skyblue solid;
    border-radius: 12px;
    margin: 20px 0;
    cursor: pointer;
}

.pause {
    background-color: white;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    border: 0;
    z-index: 16;
    cursor: pointer;
}
