.App {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../asset/fond.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.screen {
    width: 800px;
    height: 600px;
    border: solid skyblue;
    background-color: black;
    z-index: 1;
    /* cursor: none; */
    position: relative;
}

.button2 {
    width: 150px;
    height: 50x;
    font-size: 20px;
    background-color: skyblue;
    border: skyblue solid;
    border-radius: 12px;
    margin: 15px 0;
    cursor: pointer;
}

.musicSelector {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 250px;
    font-size: 16px;
    margin-bottom: 15px;
}

.volume {
    margin: 5px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.volume input {
    margin: 5;
}
